@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

* {
	padding: 0;
	margin: 0;
	font-size: 16px;
	overflow: hidden;
	box-sizing: border-box;
	font-family: "Work Sans", sans-serif;
}

body {
	width: 100vw;
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: var(--Light-pink);
}

:root {
	--White: hsl(0, 0%, 100%);
	--Light-pink: hsl(275, 100%, 97%);
	--Grayish-purple: hsl(292, 16%, 49%);
	--Dark-purple: hsl(292, 42%, 14%);
}

/* !BACKGROUND */

.background-design {
	background: url(/assets/images/background-pattern-desktop.svg);
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 320px;
	top: 0;
}

/* !CONTAINER */

.faq-container {
	background-color: var(--White);
	padding: 2rem 1.5rem 1.5rem 1.5rem;
	transition: all 500ms;
	border-radius: 1rem;
	width: 555px;
	z-index: 2;
}

header {
	display: flex;
	align-items: center;
	margin: 8px 0;
}

header .heading {
	color: var(--Dark-purple);
	font-size: 2.7rem;
	letter-spacing: 1px;
	margin-left: 1rem;
}

header img {
	transform: scale(0.85);
}

.qna {
	padding: 1.2rem 0;
	cursor: pointer;
	border-bottom: 1px solid rgba(0, 0, 0, 0.048);
}

.qna .question h2 {
	color: var(--Dark-purple);
	font-size: 1rem;
	font-weight: 600;
}

.qna:hover .question h2 {
	color: #ad28eb;
}

.qna:nth-child(4) ~ .qna {
	border-bottom: none;
	padding-bottom: 0;
}

.qna .question {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.qna .answer {
	font: 1rem;
	padding: 1rem 0;
	color: var(--Grayish-purple);
}

.qna .qna-svg {
	z-index: 1;
	transform: scale(0.75);
	display: inline;
}

/* !actives */

.show-answer {
	display: block;
}

/* !MEDIAQUERY */

@media (max-width: 612px) {
	.background-design {
		background: url(/assets/images/background-pattern-mobile.svg);
		background-size: cover;
	}
	.faq-container {
		padding: 2rem 1.2rem 1.5rem 1.2rem;
		flex-direction: column;
		justify-content: space-around;
		width: 320px;
	}
	header .heading {
		font-size: 2rem;
		margin-left: 0;
	}
	header img {
		transform: scale(0.6);
	}
	.qna {
		padding: 1rem 0;
	}
	.qna .question h2 {
		font-size: 0.9rem;
		width: 80%;
	}
	.qna .answer {
		font-size: 0.9rem;
	}
	.qna-svg {
		transform: scale(0.65);
	}
	footer,
	footer a {
		font-size: 0.7rem;
	}
}
